<div class="row">
  <!--登録済みユーザー用-->
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">ログイン</div>
      <div class="panel-body">
        <%= form_for(:session, url: login_path) do |f| %>
          <div class="form-group">
            <%= f.label :email, 'メールアドレス' %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password, 'パスワード' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>

          <%= f.submit 'ログイン', class: 'btn btn-success btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
  <!--テストユーザー用-->
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">テストアカウント</div>
      <div class="panel-body">
        <div class="form-group">
          <label>メールアドレス</label>
          <p>test@supplebox.jp</p>
        </div>
        <div class="form-group">
          <label>パスワード</label>
          <p>test</p>
        </div>
      </div>
    </div>
  </div>
</div>