<% if products.present? %>
  <div class="row">
    <% products.each_with_index do |product, index| %>
      <div class="product">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <img src="<%= product.image_url %>" alt="" >
            </div>
            <div class="panel-body">
              <p class="product-brand"><%= product.brand_amazon_name %></p>
              <p class="product-title"><%= link_to product.title, product %></p>
               <!--星評価-->
               <div class='star'>
                 <span style='float-left' id="star-rate-<%= product.id %>"></span>
                  <script>
                  $('#star-rate-<%= product.id  %>').raty({
                    size: 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    half: true,
                    readOnly: true,
                    score: <%= product.posts.average(:rate).to_f.round(1) %>,
                  });
                  </script>
                （口コミ <%= product.posts.count %> 件）
              　</div>
              <!--/星評価-->
              <% if logged_in? %>
                <div class="buttons text-center">
                  <%= render 'likes/like_small_button', product: product %>
                </div>
              <% end %>
            </div>
            <div class="panel-footer">
              <p class="text-center"><%= index+1 %>位 ： <%= ranking_counts[product.id] %><span class="glyphicon glyphicon-heart"></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>