- if current_user.like?(product)
  = form_with(model: current_user.likes.find_by(product_id: product.id), html: { method: :delete }) do |f|
    = hidden_field_tag :product_id, product.id
    = button_tag(class: "btn btn-success") do
      お気に入り登録中
      %i{class: "bi bi-heart-fill"}
- else
  = form_with(model: current_user.likes.build) do |f|
    = hidden_field_tag :product_id, product.id
    = button_tag(class: "btn btn-outline-success") do
      お気に入り登録
      %i{class: "bi bi-heart"}
