- if logged_in?
  - if current_user.like?(product)
    = form_for(current_user.likes.find_by(product_id: product.id), html: { method: :delete }) do |f|
      = hidden_field_tag :product_id, product.id
      = button_tag(class: "btn btn-lg btn-success") do
        = content_tag :span, "お気に入り登録中", class: "glyphicon glyphicon-heart-empty"
  - else
    = form_for(current_user.likes.build) do |f|
      = hidden_field_tag :product_id, product.id
      = button_tag(class: "btn btn-lg btn-outline-success") do
        = content_tag :span, "お気に入り登録", class: "glyphicon glyphicon-heart"
