<div class="user-profile">
  <div class="icon text-center">
    <img src="<%= gravatar_url(user, size: 100) %>" alt="" class="img-circle">
  </div>
  <div class="name text-center">
    <h1><%= user.nickname %></h1>
  </div>
  <div class="text-center">
    <%= render 'relationships/follow_button', user: user %>
    <% if current_user == user %>
      <%= link_to 'プロフィールを編集する', edit_user_path, class:'btn btn-default' %>
    <% end %>
    <% if (( current_user.admin? && current_user != user ) if logged_in?) %>
      <%= link_to 'アカウントを削除する', user , method: :delete, data: { confirm: "アカウントを削除します。よろしいでしょうか？"} , class:'btn btn-danger' %>
    <% end %>
  </div>
  <div class="status text-center">
    <ul>
      <li>
        <div class="status-label">ユーザー名</div>
        <div class="status-value">@<%= user.name %></div>
      </li>
      <li>
        <div class="status-label">性別</div>
        <div class="status-value"><%= user.gender %></div>
      </li>
      <li>
        <div class="status-label">身長</div>
        <div class="status-value"><%= user.height %></div>
      </li>
      <li>
        <div class="status-label">体重</div>
        <div class="status-value"><%= user.weight %></div>
      </li>
    </ul>
    <div class="status-label">
      <ul>
        <li>
          <div class="status-label comment">自己紹介</div>
          <div class="status-value comment"><%= user.comment %></div>
        </li>
      </ul>
    </div>
  </div>
</div>
