<% if users.present? %>
  <!--ユーザー一覧-->
  <div class="row">
    <% users.each do |user| %>
      <div class>
        <div class="col-md-4 col-xs-12">
          <div class="users">
            <%= image_tag user.picture.url %>
            <%= link_to user.name, user %></br>
            <%= user.gender %>/<%= user.height %>/<%= user.weight %></br>
            <div class="comment"><%= user.comment %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!--ページネーション-->
  <%= paginate users %>
  </p><%= page_entries_info users %></p>
<% end %>