<% if users.any? %>
  <!--ユーザー一覧-->
  <ul class="media-list">
    <% users.each do |user| %>
      <li class="media">
        <div class="media-left">
          <img class="media-object img-rounded" src="<%= gravatar_url(user, { size: 84 }) %>" alt="">
        </div>
        <div class="media-body">
          <div>
            <%= link_to user.name, user %> さん（口コミ<%= user.posts.count %>件）
          </div>
          <div>
            <p><%= user.gender %> <%= user.height %> <%= user.weight %></p>
            <div><%= render 'relationships/follow_button', user: user %></div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <!--ページネーション-->
  <%= paginate users %>
  </p><%= page_entries_info users %></p>
<% end %>