%ul.nav.nav-tabs.nav-justified
  %li{class: "#{'active' if current_page?(user_path(@user))}"}
    = link_to user_path(@user) do
      口コミ
      %span.badge= @count_posts
  %li{class: "#{'active' if current_page?(like_products_user_path(@user))}"}
    = link_to like_products_user_path(@user) do
      お気に入り
      %span.badge= @count_like_products
  %li{class: "#{'active' if current_page?(followings_user_path(@user))}"}
    = link_to followings_user_path(@user) do
      フォロー
      %span.badge= @count_followings
  %li{class: "#{'active' if current_page?(followers_user_path(@user))}"}
    = link_to followers_user_path(@user) do
      フォロワー
      %span.badge= @count_followers
