- if users.present?
  / ユーザー一覧
  .row
    - users.each do |user|
      .col-md-4.col-xs-12
        .users
          = link_to user_path(user) do
            = image_tag user.picture.url
            = user.nickname
          = user.gender
          \/#{user.height}/#{user.weight}
          .comment= user.comment
  / ページネーション
  = paginate users
  = page_entries_info users
