<div class="p-3">
  <h3 class="mb-3">プロフィール編集</h3>
  <!-- フォーム -->
  <%= form_for @user do |f| %>
    <!--エラーメッセージ-->
    <%= render 'layouts/error_messages', model: f.object %>
  
     <!-- プロフィール画像 -->
    <div class="form-group row">
      <%= f.label :picture, 'プロフィール画像 ', class:'col-md-3 col-form-label' %>
      <div class="col-md-9">
        <%= image_tag @user.picture.url, class:'img-fluid' if @user.picture? %>
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </div>
    </div>
   <!-- ニックネーム -->
    <div class="form-group row">
      <%= f.label :nickname, 'ニックネーム ', class:'col-md-3 col-form-label' %>
      <div class="col-md-9">
        <%= f.text_field :nickname, class: "form-control" %>
      </div>
    </div>
    <!-- ネーム -->
    <div class="form-group row">
      <%= f.label :name, 'ユーザー名 ', class:'col-md-3 col-form-label' %>
      <div class="col-md-9">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <!-- 性別 -->
    <div class="form-group row">
      <%= f.label :gender, '性別 ', class:'col-md-3 col-form-label' %>
      <div class="col-md-1">
        <%= f.select :gender, [['-', '-'] ,['ヒミツ', 'ヒミツ'] ,['男性', '男性'] ,['女性', '女性']] %>
      </div>
    </div>
    <!-- 身長 -->
    <div class="form-group row">
      <%= f.label :height, '身長 ', class:'col-md-3 col-form-label' %>
      <div class="col-md-1">
        <%= f.select :height, [['-', '-'], ['150cm未満', '150cm未満'], ['155〜160cm', '155〜160cm'], ['160〜165cm', '160〜165cm'], ['165〜170cm', '165〜170cm'], ['170〜175cm', '170〜175cm'], ['175〜180cm', '175〜180cm'], ['180〜185cm', '180〜185cm'], ['185〜190cm', '185〜190cm'], ['190〜195cm', '190〜195cm'], ['195〜200cm', '195〜200cm'], ['200cm超', '200cm超'] ] %>
      </div>
    </div>
    <!-- 性別 -->
    <div class="form-group row">
      <%= f.label :weight, '体重 ', class:'col-md-3 col-form-label' %>
      <div class="col-md-1">
        <%= f.select :weight, [['-', '-'], ['40kg未満', '40kg未満'], ['40〜45kg', '40〜45kg'], ['45〜50kg', '45〜50kg'], ['50〜55kg', '50〜55kg'], ['55〜60kg', '55〜60kg'], ['60〜65kg', '60〜65kg'], ['65〜70kg', '65〜70kg'], ['70〜75kg', '70〜75kg'], ['75〜80kg', '75〜80kg'], ['85〜90-kg', '85〜90-kg'], ['90〜95kg', '90〜95kg'], ['95〜100kg', '95〜100kg'], ['100kg超', '100kg超'] ] %>
      </div>
    </div>
    <!-- 口コミ -->
    <div class="form-group row">
      <%= f.label :comment, '自己紹介 ', class:'col-md-3 col-form-label' %>
      <div class="col-md-9">
        <%= f.text_area :comment, class: "form-control", rows: "3", 
          placeholder:"自己紹介を記入してみましょう。
例）週2回ジム通い/プロテイン1日3杯/筋トレは人生！"
            %>
      </div>
    </div>
    <!-- 確認ボタン -->
    <div class="form-group row justify-content-end">
      <div class="col-md-9">
        <%= f.submit '更新する', class: 'btn btn-primary' %>
      </div>
    </div>
    <!--画像チェック-->
    <script type="text/javascript">
      $('#post_picture').bind('change', function() {
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
          alert('最大のファイルサイズは5MBです。ファイルサイズを小さくしてください。');
        }
      });
    </script>  
  <% end %>
  <!-- /フォーム -->
</div>