<!--ユーザープロフィール-->
<%= render 'users/user_profile', user: @user %>
<!--/ユーザープロフィール-->
<div class="col-md-12">
  <!--ユーザーナビバー-->
  <%= render 'users/user_nav', user: @user %>
  <!--/ユーザーナビバー-->
  <!--お気に入り商品ー一覧-->
  <%= render 'products/products', { products: @products, ranking_counts: @ranking_counts } %>
  <!--/お気に入り商品一覧-->
  <!--ページネーション-->
  <%= paginate @products %>
  </p><%= page_entries_info @products %></p>
  <!--/ページネーション-->
</div>
