/ ユーザープロフィール
= render 'users/user_profile', user: @user
/ /ユーザープロフィール
.col-md-12
  / ユーザーナビバー
  = render 'users/user_nav', user: @user
  / /ユーザーナビバー
  / お気に入り商品ー一覧
  = render 'products/products', { products: @products, ranking_counts: @ranking_counts }
  / /お気に入り商品一覧
  / ページネーション
  = paginate @products
  = page_entries_info @products
  / /ページネーション
