<div class="user-profile">
  <div class="icon text-center">
    <img src="<%= gravatar_url(@user, size: 100) %>" alt="" class="img-circle">
  </div>
  <div class="name text-center">
    <h1><%= @user.name %></h1>
  </div>
  <div class="status text-center">
    <ul>
      <li>
        <div class="status-label">ニックネーム</div>
        <div class="status-value"><%= @user.nickname %></div>
      </li>
      <li>
        <div class="status-label">性別</div>
        <div class="status-value"><%= @user.gender %></div>
      </li>
      <li>
        <div class="status-label">身長</div>
        <div class="status-value"><%= @user.height %></div>
      </li>
      <li>
        <div class="status-label">体重</div>
        <div class="status-value"><%= @user.weight %></div>
      </li>
    </ul>
    <ul>
      <li>
        <div class="status-label">自己紹介</div>
        <div class="status-value"><%= @user.comment %></div>
      </li>
    </ul>
  </div>  
  <div class="col-md-12">
    <ul class="nav nav-tabs nav-justified">
      <li class="<%= 'active' if current_page?(user_path(@user)) %>"><%= link_to user_path(@user) do %>口コミ一覧 <span class="badge"><%= @count_posts %><% end %></li>
      <li><a href="#">お気に入り</a></li>
      <li><a href="#">Followings</a></li>
      <li><a href="#">Followers</a></li>
    </ul>
    <!--口コミ一覧-->
    <% @posts.each do |post| %>
      <%= render 'posts/posts', post: post %>
    <% end %>
    <!--/口コミ一覧-->
  </div>
  
</div>
