<% breadcrumb :contact %>
<h1>お問い合わせ</h1>

<!--お問い合わせ入力フォーム-->
<%= form_for @contact do |f| %>

  <!--エラーメッセージ-->
  <%= render 'layouts/error_messages', model: f.object %>
  
  <!-- お名前 -->
  <div class="form-group row">
    <%= f.label :name, 'お名前 ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  
  <!-- メールアドレス -->
  <div class="form-group row">
    <%= f.label :email, 'メールアドレス ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
  
  <!-- タイトル -->
  <div class="form-group row">
    <%= f.label :title, 'タイトル ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  
  <!-- お問い合わせ -->
  <div class="form-group row">
    <%= f.label :content, 'お問い合わせ内容 ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.text_area :content, class: "form-control", rows: "8" %>
    </div>
  </div>
  
  <!-- 確認ボタン -->
  <div class="form-group row justify-content-end">
    <div class="col-md-9">
      <%= f.submit '送信する', class: 'btn btn-success' %>
    </div>
  </div>
  
<% end %>
<!-- /お問い合わせ入力フォーム -->