<h1>お問い合わせ</h1>

<!--お問い合わせ入力フォーム-->
<%= form_for @contact do |f| %>

  <!--エラーメッセージ-->
  <%= render 'layouts/error_messages', model: f.object %>
  
  <!-- タイトル -->
  <div class="form-group row">
    <%= f.label :titile, 'タイトル ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.text_field :titile, class: "form-control" %>
    </div>
  </div>
  
  <!-- お問い合わせ -->
  <div class="form-group row">
    <%= f.label :content, 'お問い合わせ内容 ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.text_area :content, class: "form-control", rows: "8" %>
    </div>
  </div>
  
  <!-- 確認ボタン -->
  <div class="form-group row justify-content-end">
    <div class="col-md-9">
      <%= f.submit '投稿する', class: 'btn btn-success' %>
    </div>
  </div>
  
<% end %>
<!-- /お問い合わせ入力フォーム -->