<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>プロテイン選びで</br>失敗したくないあなたへ</h1>
          <% unless logged_in? %>
            <%= link_to 'SuppleBoxを始める', signup_path, class: 'btn btn-success btn-lg cover-button' %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>
<!-- サービス紹介 -->
<div class="features">
	<div class="container">
		<div class="section-title text-center">
			<h1 class="title">SuppleBoxとは</h1>
			<h4 class="title">プロテイン選びで失敗したく無い方に向けた、プロテイン特化型の口コミ共有サービスです。</h4>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6 feature text-center">
        <span class="glyphicon glyphicon-check" style="font-size: 40px" aria-hidden="true"></span>
				<h3 class="feature-title">リアルな口コミ</h3>
				<p>&#10004;	実際の購入者によるリアルな口コミで失敗しないプロテイン選びをサポート</p>
			</div>
			<div class="col-md-4 col-sm-6 feature text-center">
        <span class="glyphicon glyphicon-zoom-in" style="font-size: 40px" aria-hidden="true"></span>
				<h3 class="feature-title">探しやすい</h3>
				<p>&#10004;	気になるアイテムをお気に入りランキングや最新の口コミから検索可能</p>
			</div>
			<div class="col-md-4 col-sm-6 feature text-center">
        <span class="glyphicon glyphicon-thumbs-up" style="font-size: 40px" aria-hidden="true"></span>
				<h3 class="feature-title">見やすいレイアウト</h3>
				<p>&#10004;	PCやスマートフォンどちらからでも見やすい設計</p>
			</div>
		</div>
	</div>
</div>
<!-- サービス紹介 -->

<h2>お気に入りアイテムランキング</h2>
<%= render 'rankings/products', {products: @products, ranking_counts: @ranking_counts } %>
<div class='text-center'>
  <%= link_to 'お気に入りアイテムをもっと見る', rankings_like_path, class: 'btn btn-success btn-lg' %>
</div>

<h2>最新の口コミ</h2>
<%= render 'posts/posts', posts: @posts %>
<div class='text-center'>
  <%= link_to '最新の口コミをもっと見る', posts_path, class: 'btn btn-success btn-lg' %>
</div>