- content_for :cover do
  .cover
    .cover-inner
      .cover-contents
        %h1 プロテイン選びで失敗したくないあなたへ
        - unless logged_in?
          = link_to 'SuppleBoxを始める', signup_path, class: 'btn btn-success btn-lg cover-button'
/ サービス紹介
.features
  .container
    .section-title.text-center
      %h1.title SuppleBoxとは
      %h4.title プロテイン選びで失敗したく無い方に向けた、プロテイン特化型の口コミ共有サービスです。
    .row
      .col-md-4.col-sm-6.feature.text-center
        %span.glyphicon.glyphicon-check{"aria-hidden" => "true", :style => "font-size: 40px"}
        %h3.feature-title リアルな口コミ
        %p ✔	実際の購入者によるリアルな口コミで失敗しないプロテイン選びをサポート
      .col-md-4.col-sm-6.feature.text-center
        %span.glyphicon.glyphicon-zoom-in{"aria-hidden" => "true", :style => "font-size: 40px"}
        %h3.feature-title 探しやすい
        %p ✔	気になるアイテムをお気に入りランキングや最新の口コミから検索可能
      .col-md-4.col-sm-6.feature.text-center
        %span.glyphicon.glyphicon-thumbs-up{"aria-hidden" => "true", :style => "font-size: 40px"}
        %h3.feature-title 見やすいレイアウト
        %p ✔	PCやスマートフォンどちらからでも見やすい設計
/ サービス紹介
%h2 お気に入りアイテムランキング
= render 'rankings/products', {products: @products, ranking_counts: @ranking_counts }
.text-center
  = link_to 'お気に入りアイテムをもっと見る', rankings_like_path, class: 'btn btn-success btn-lg'
%h2 最新の口コミ
= render 'posts/posts', posts: @posts
.text-center
  = link_to '最新の口コミをもっと見る', posts_path, class: 'btn btn-success btn-lg'
