/ 口コミ入力フォーム
= form_for post do |f|
  / エラーメッセージ
  = render 'layouts/error_messages', model: f.object
  / 商品コードの送信
  = f.hidden_field :product_id, { value: product.id}
  / タイトル
  .form-group.row
    = f.label :title, 'タイトル ', class:'col-md-3 col-form-label'
    .col-md-9
      = f.text_field :title, class: "form-control"
  / 評価
  #star.form-group.row
    = f.label :rate,'評価 ', class:'col-md-3 col-form-label'
    = f.hidden_field :rate, id: :review_star
  / 口コミ
  .form-group.row
    = f.label :content, '口コミ内容 ', class:'col-md-3 col-form-label'
    .col-md-9
      = f.text_area :content, class: "form-control", rows: "8", |
                placeholder:'口コミ内容がなくても、タイトルと評価のみで投稿できます。       |
        まずは投稿してみましょう！投稿してから編集もできますよ！'                           |
  / 口コミ用画像
  .form-group.row
    = f.label :picture, '口コミ画像 ', class:'col-md-3 col-form-label'
    .col-md-9
      = f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'btn btn-default'
  / 確認ボタン
  .form-group.row.justify-content-end
    .col-md-9
      = f.submit '投稿する', class:"btn btn-success"
  / 画像チェック
  :javascript
    $('#post_picture').bind('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
        alert('最大のファイルサイズは5MBです。ファイルサイズを小さくしてください。');
      }
    });
/ /口コミ入力フォーム
/ 星評価
:javascript
  $('#star').raty({
    size     : 36,
    starOff:  '#{asset_path('star-off.png')}',
    starOn : '#{asset_path('star-on.png')}',
    starHalf: '#{asset_path('star-half.png')}',
    scoreName: 'post[rate]',
    half: true,
  });
