<!-- 口コミ入力フォーム -->
<%= form_for post do |f| %>

  <!--エラーメッセージ-->
  <%= render 'layouts/error_messages', model: f.object %>
  
  <!--商品コードの送信-->
  <%= f.hidden_field :product_id, { value: product.id} %>
  
  <!-- タイトル -->
  <div class="form-group row">
    <%= f.label :title, 'タイトル ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  
  <!-- 評価 -->
  <div class="form-group row">
    <%= f.label :rate, '評価 ', class:'col-md-3 col-form-label' %>
    <div class="col-md-1">
      <%= f.select :rate, [["5", "5"], ["4", "4"], ["3", "3"], ["2", "2"], ["1", "1"]] %>
    </div>
  </div>
  
  <!-- 口コミ -->
  <div class="form-group row">
    <%= f.label :content, '口コミ内容 ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.text_area :content, class: "form-control", rows: "8",
        placeholder:'口コミ内容がなくても、タイトルと評価のみで投稿できます。
まずは投稿してみましょう！投稿してから編集もできますよ！' %>
    </div>
  </div>
  
  <!-- 口コミ用画像 -->
  <div class="form-group row">
    <%= f.label :picture, '口コミ画像 ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </div>
  </div>
  
  <!-- 確認ボタン -->
  <div class="form-group row justify-content-end">
    <div class="col-md-9">
      <%= f.submit '投稿する' %>
    </div>
  </div>
  
  <!--画像チェック-->
  <script type="text/javascript">
    $('#post_picture').bind('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
        alert('最大のファイルサイズは5MBです。ファイルサイズを小さくしてください。');
      }
    });
  </script>  
<% end %>
<!-- /口コミ入力フォーム -->