<% posts.each do |post| %>
  <div class='post row mb-4'>
    <div class='col-md-8 mb-3'>
      <img class='media-object img-rounded' src='<%= gravatar_url(post.user, { size: 50 }) %>' alt=''>
      <h4 class='mb-3'><%= post.user.name %> さんの ＜<%= post.product.title %>＞ の口コミ</h4>
      <h5 class='mb-3'><%= post.rate %>点 <%= post.title %></h5>
      <p>投稿日時 <%= post.created_at %></p>
      <div class='product-picture'>
        <%= image_tag post.product.image_url, class:'img-fluid' %>
      </div>
      <p><%= post.content %></p>
      <% if current_user == post.user %>
        <%= link_to '口コミを編集', edit_post_path(post), method: :get, class:'btn btn-default' %>
        <%= link_to '口コミを削除', post, method: :delete, class:'btn btn-default' %>
      <% end %>
    </div>
    <div class='post-picture col-md-4'>
      <%= image_tag post.picture.url, class:'img-fluid' if post.picture? %>
    </div>
  </div>
<% end %>