<!--口コミ一覧-->
<% if posts.present? %>
  <div class="row">
    <% posts.each do |post| %>
      <div class="posts">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <img src="<%= post.product.image_url %>" alt="" >
            </div>
            <div class="panel-body">
              <div class="user-profile">
                <img class='media-object img-rounded' src='<%= gravatar_url(post.user, { size: 50 }) %>' alt=''>
                <p class="posts-title"><%= post.product.title %></p>
              </div>
              <div class="content">
                <p class="posts-title"><%= link_to post.title, post %></p>
              </div>
              <div class="buttons text-center">
                <% if current_user == post.user %>
                  <%= link_to '編集', edit_post_path(post), method: :get, class:'btn btn-default' %>
                  <%= link_to '削除', post, method: :delete, class:'btn btn-default' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
