<% if posts.present? %>
  <% posts.each do |post| %>
    <div class="row posts">
      <div class="col-md-2 posts-user">
        <%= link_to post.user do %>
        <%= image_tag post.user.picture.url ,width: '100px' %>
        <% end %>
        <p class="posts-title"><%= link_to post.user.name, post.user %></p>
        <p class="posts-prof"><%= post.user.gender %> <%= post.user.height %> <%= post.user.weight %></p>
      </div>
      <div class="col-md-6 mb-3">
        <div class=" posts-content">
          <p><%= simple_time(post.created_at) %></p>
          <h4 class="mb-3">評価：<%= post.rate %>点 | <%= post.title %></h4>
          <p><%= post.content %></p>
          <%= image_tag post.picture.url, class:'img-fluid' if post.picture? %>
        </div>
      </div>
      <div class="col-md-4">
        <%= link_to post.product do %>
          <div class="posts-product">
            <img src="<%= post.product.image_url %>" alt="">
            <p><%=  post.product.title %></p>
          </div>
        <%end %>
      </div>
      <div class="col-md-12 edit-button">
        <% if current_user == post.user %>
          <%= link_to '口コミを編集', edit_post_path(post), method: :get, class:'btn btn-default' %>
          <%= link_to '口コミを削除', post, method: :delete, class:'btn btn-default' %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>