- breadcrumb :posts
%h2 最新の口コミ
/ 口コミ検索
.search
  .row
    .text-center
      = search_form_for @q, class:'form-inline' do |f|
        .form-group
          = f.text_field :title_or_content_or_product_title_cont, class: 'form-control input-lg', placeholder: "口コミ内容やアイテム名を入力", size: 40
        = f.submit '口コミを検索', class: "btn btn-success btn-lg"
/ 口コミ一覧
= render 'posts/posts', posts: @posts
/ ページネーション
= paginate @posts
= page_entries_info @posts
