<!-- ブランド入力フォーム -->
<%= form_for brand do |f| %>

  <!--エラーメッセージ-->
  <%= render 'layouts/error_messages', model: f.object %>

  <!-- ブランドネーム -->
  <div class="form-group row">
    <%= f.label :name, 'ブランドネーム ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  
  <!-- 紹介文 -->
  <div class="form-group row">
    <%= f.label :content, 'ブランド内容 ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.text_area :content, class: "form-control", rows: "8" %>
    </div>
  </div>
  
  <!-- ブランド画像 -->
  <div class="form-group row">
    <%= f.label :picture, 'ブランド画像 ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= image_tag @brand.picture.url, class:'img-fluid' if @brand.picture? %>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </div>
  </div>
  
  <!-- 確認ボタン -->
  <div class="form-group row justify-content-end">
    <div class="col-md-9">
      <%= f.submit '投稿する', class:"btn btn-success" %>
    </div>
  </div>
  
  <!--画像チェック-->
  <script type="text/javascript">
    $('#post_picture').bind('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
        alert('最大のファイルサイズは5MBです。ファイルサイズを小さくしてください。');
      }
    });
  </script>  
<% end %>
<!-- /ブランド入力フォーム -->