<% breadcrumb :brands %>
<h2>ブランド一覧</h2>
<!--ブランド検索-->
<div class="search">
  <div class="row">
    <div class="text-center">
      <%= search_form_for @q, class:'form-inline' do |f| %>
        <div class="form-group">
          <%= f.text_field :name_cont, class: 'form-control input-lg', placeholder: "例）SAVAS や ザバス", size: 40 %>
        </div>
        <%= f.submit 'ブランドを検索', class: "btn btn-success btn-lg" %>
      <% end %>
      </div>
  </div>
</div>

<!--ブランド一覧-->
<% if @brands.present? %>
  <div class="row">
    <% @brands.each do |brand| %>
      <div class="col-md-4 col-xs-12">
        <div class="users">
          <%= link_to brand do %>
            <%= image_tag brand.picture.url if brand.picture? %>
          <% end %>
          <p><%= link_to brand.name, brand %></p>
        </div>
      </div>
    <% end %>
  </div>
  <!--ページネーション-->
  <%= paginate @brands %>
  </p><%= page_entries_info @brands %></p>
<% end %>