<!--商品情報-->
<div class="row p-3">
  <h2>ブランド詳細情報</h2>
  <div class="col-md-3">
    <div class="brand_detail">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <%= image_tag @brand.picture.url, class:'img-fluid' if @brand.picture? %>
        </div>
        <div class="panel-body">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h4><%= @brand.name %></h4>
    <table class="table">
      <tbody>
        <tr>
          <td><%= @brand.content%></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <% if (( current_user.admin? && current_user != @user ) if logged_in?) %>
      <%= link_to 'ブランドを編集する', edit_brand_path, class:'btn btn-default' %>
      <%= link_to 'ブランドを削除する', @brand , method: :delete, data: { confirm: "ブランドを削除します。よろしいでしょうか？"} , class:'btn btn-danger' %>
    <% end %>
  </div>
</div>
<!--アイテム一覧-->
<h2><%= @brand.name %>のアイテム一覧</h2>
<%= render 'products/products', {products: @products, ranking_counts: @ranking_counts} %>
