- breadcrumb :show_brand, @brand
/ 商品情報

%h2 ブランド詳細情報
.row.p-3
  .col-md-3
    .brand_detail
      .card
        = image_tag @brand.picture.url, class:'img-fluid' if @brand.picture?
  .col-md-9
    %h4= @brand.name
    %table.table
      %tbody
        %tr
          %td= @brand.content
  %div
    - if (( current_user.admin? && current_user != @user ) if logged_in?)
      = link_to 'ブランドを編集する', edit_brand_path, class:'btn btn-success'
      = link_to 'ブランドを削除する', @brand , method: :delete, data: { confirm: "ブランドを削除します。よろしいでしょうか？"} , class:'btn btn-danger'
/ アイテム一覧
%h2
  = @brand.name
  のアイテム一覧
= render 'products/products', {products: @products, ranking_counts: @ranking_counts}
