:javascript
  $('#star-rate-#{product.id}').raty({
    size: 36,
    starOff:  '#{asset_path('star-off.png')}',
    starOn : '#{asset_path('star-on.png')}',
    starHalf: '#{asset_path('star-half.png')}',
    half: true,
    readOnly: true,
    score: #{product.posts.average(:rate).to_f.round(1)},
  });
