<!-- アイテム入力フォーム -->
<%= form_for @product do |f| %>

  <!--エラーメッセージ-->
  <%= render 'layouts/error_messages', model: f.object %>

  <!-- アイテムタイトル -->
  <div class="form-group row">
    <%= f.label :title, 'アイテムタイトル ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <!-- アマゾンのブランド名 -->
  <div class="row">
    <%= label :brand_amazon_name, 'アマゾンのブランド名 ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <p><%= @product.brand_amazon_name %></p>
    </div>
  </div>
  
  <!-- 公式サイトのURL -->
  <div class="form-group row">
    <%= f.label :official_url, '公式サイトのURL ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.text_field :official_url, class: "form-control" %>
    </div>
  </div>
  
  <!-- ブランド ID -->
  <div class="form-group row">
    <%= f.label :brand_id, 'ブランドID ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.text_field :brand_id, class: "form-control" %>
    </div>
  </div>

  <!-- 確認ボタン -->
  <div class="form-group row justify-content-end">
    <div class="col-md-9">
        <%= f.submit '更新する', class: 'btn btn-success' %>
    </div>
  </div>
  
<% end %>
<!-- /アイテム入力フォーム -->