- breadcrumb :new_product
%h2 アイテムを登録する
.search
  .row
    .text-center
      = form_tag(new_product_path, method: :get, class: 'form-inline') do
        .form-group
          = text_field_tag :keyword, nil,  id: "book_search", name: "keyword", class: 'form-control input-lg', placeholder: "例）ザバス プロテイン", size: 40
        = submit_tag 'アイテムを検索', class: 'btn btn-success btn-lg'
- if @products.present?
  .row
    - @products.each do |product|
      .product
        .col-md-3.col-sm-4.col-xs-12
          .panel.panel-default
            .panel-heading.text-center
              %img{alt: "", src: "#{product.image_url}"}/
            .panel-body
              %p.product-brand= product.brand_amazon_name
              - if product.persisted?
                %p.product-title= link_to product.title, product
              - else
                %p.product-title= product.title
              %p
                口コミ評価 #{product.posts.average(:rate).to_f.round(1)} ( #{product.posts.count} 件)
              .buttons.text-center
                - if logged_in?
                  - if product.persisted?
                    / お気に入り登録・削除ボタン
                    = render 'likes/like_small_button', product: product
                    - if current_user.admin?
                      / アイテム登録削除ボタン
                      = form_tag(product_path(product.id), method: :delete, data: { confirm: "アイテムを削除します。よろしいでしょうか？"}) do
                        = hidden_field_tag :product_id, product.id
                        = submit_tag 'アイテム削除', class: 'btn btn-success'
                  - else
                    / アイテム登録ボタン
                    = form_tag(products_path) do
                      = hidden_field_tag :title, product.title
                      = hidden_field_tag :image_url, product.image_url
                      = hidden_field_tag :url, product.url
                      = hidden_field_tag :asin, product.asin
                      = hidden_field_tag :brand_amazon_name, product.brand_amazon_name
                      = hidden_field_tag :price, product.price
                      = submit_tag 'アイテム登録', class: 'btn btn-outline-success'
