<!--商品情報-->
<div class="row p-3">
  <div class="col-md-4">
    <div class="product_detail">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <img src="<%= @product.image_url %>" alt="">
        </div>
        <div class="panel-body">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h3>商品詳細情報</h3>
    <h4><%= @product.title %></h4>
    <table class="table">
      <tbody>
        <tr>
          <th>価格</th>
          <td>¥<%= number_with_delimiter(@product.price) %></td>
        </tr>
        <tr>
          <th>メーカー</th>
          <td><%= @product.brand_amazon_name %></td>
        </tr>
      </tbody>
    </table>
    <div class="buttons text-center">
      <%= link_to 'Amazonで詳しく見る', @product.url, target: ["_blank"],class: 'btn btn-lg btn-warning' %>
      <a href="#" class="btn btn-lg btn-success">公式サイトで詳しく見る</a>
      <%= render 'likes/like_button', product: @product %>
    </div>
  </div>
</div>
<!--/商品情報-->
<!--口コミ一覧-->
<%= render 'posts/posts', posts: @posts %>
<!--/口コミ一覧-->
<!-- 口コミ投稿フォーム -->
<div class="p-3">
  <h3 class="mb-3">口コミ投稿フォーム</h3>
  <%= render 'posts/new_post', post: @post, product: @product %>
</div>  
<!-- / 口コミ投稿フォーム -->
