<% set_meta_tags title: @product.title, description: "#{@product.title}の口コミです。", keywords: "#{@product.title},味,口コミ,評判,レビュー,おいしい,おすすめ" %>
<% breadcrumb :show_product, @product %>
<!--アイテム情報-->
<div class="row p-3">
  <h2>アイテム詳細情報</h2>
  <div class="col-md-4">
    <div class="product_detail">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <img src="<%= @product.image_url %>" alt="">
        </div>
        <div class="panel-body">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h4><%= @product.title %></h4>
    <table class="table">
      <tbody>
        <tr>
          <th>価格</th>
          <td>¥<%= number_with_delimiter(@product.price) %></td>
        </tr>
        <tr>
          <th>ブランド</th>
          <td>
            <%= link_to @brand.name, @brand if @brand %>
            <%= @product.brand_amazon_name unless @brand %>
          </td>  
        </tr>
      </tbody>
    </table>
    <div class="buttons text-center">
      <%= link_to 'Amazonで詳しく見る', @product.url, target: ["_blank"],class: 'btn btn-lg btn-outline-warning' %>
      <%= link_to '楽天で詳しく見る', "https://search.rakuten.co.jp/search/mall/#{@product.brand_amazon_name}+プロテイン/?f=1&grp=product", target: ["_blank"],class: 'btn btn-lg btn-outline-danger' %>
      <!--<a href="#" class="btn btn-lg btn-success">公式サイトで詳しく見る</a>-->
      <%= render 'likes/like_button', product: @product %>
    </div>
  </div>
</div>
<!--/アイテム情報-->
<!--口コミ一覧-->
<%= render 'posts/posts', posts: @posts, user: @user %>
<!--/口コミ一覧-->
<!-- 口コミ投稿フォーム -->
<div class="p-3">
  <h2 class="mb-3">口コミ投稿する</h2>
  <%= render 'posts/new_post', post: @post, product: @product %>
</div>  
<!-- / 口コミ投稿フォーム -->