<!--商品情報-->
<div class="row p-3">
  <div class="col-md-4">
    <div class="product_detail">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <img src="<%= @product.image_url %>" alt="">
        </div>
        <div class="panel-body">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h3>商品詳細情報</h3>
    <h4><%= @product.title %></h4>
    <table class="table">
      <tbody>
        <tr>
          <th>価格</th>
          <td>¥<%= number_with_delimiter(@product.price) %></td>
        </tr>
        <tr>
          <th>メーカー</th>
          <td><%= @product.brand_amazon_name %></td>
        </tr>
      </tbody>
    </table>
    <div class="buttons text-center">
      <%= link_to 'Amazonで詳しく見る', @product.url, target: ["_blank"],class: 'btn btn-lg btn-warning' %>
      <a href="#" class="btn btn-lg btn-success">公式サイトで詳しく見る</a>
      <a href="#" class="btn btn-lg btn-info">お気に入り登録する</a>
    </div>
  </div>
</div>
<!--/商品情報-->
<!--口コミ一覧-->
<% @posts.each do |post| %>
  <%= render 'shared/posts', post: post %>
<% end %>
<!--/口コミ一覧-->
<!-- 口コミ投稿フォーム -->
<div class="p-3">
  <h3 class="mb-3">口コミ投稿フォーム</h3>
  <!-- フォーム -->
  <%= form_for @post do |f| %>
    <%= f.hidden_field :product_id, { value: @product.id} %>
    <!-- タイトル -->
    <div class="form-group row">
      <%= f.label :title, 'タイトル ', class:'col-md-3 col-form-label' %>
      <div class="col-md-9">
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>
    <!-- 評価 -->
    <div class="form-group row">
      <%= f.label :rate, '評価 ', class:'col-md-3 col-form-label' %>
      <div class="col-md-1">
        <%= f.select :rate, [["5", "5"], ["4", "4"], ["3", "3"], ["2", "2"], ["1", "1"]] %>
      </div>
    </div>
    <!-- 口コミ -->
    <div class="form-group row">
      <%= f.label :content, '口コミ内容 ', class:'col-md-3 col-form-label' %>
      <div class="col-md-9">
        <%= f.text_area :content, class: "form-control", rows: "8" %>
      </div>
    </div>
    <!-- 口コミ用画像 -->
    <div class="form-group row">
      <%= f.label :picture, '口コミ画像 ', class:'col-md-3 col-form-label' %>
      <div class="col-md-9">
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </div>
    </div>
    <!-- 確認ボタン -->
    <div class="form-group row justify-content-end">
      <div class="col-md-9">
        <%= f.submit '投稿する', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
  <!-- /フォーム -->
</div>
<script type="text/javascript">
  $('#post_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('最大のファイルサイズは5MBです。ファイルサイズを小さくしてください。');
    }
  });
</script>
<!-- / 口コミ投稿フォーム -->
