<footer id="footer">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-md-push-3">
          <ul>
            <li><%= link_to 'トップページ', root_path %></li>
            <li><%= link_to '利用基準', policy_path %></li>
            <li><%= link_to 'プライバシーポリシー', privacypolicy_path %></li>
            <li><%= link_to 'お問い合わせ', contacts_path %></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-4 col-md-push-3">
          <ul>
            <li><%= link_to '人気アイテムランキングを見る', rankings_like_path %></li>
            <li><%= link_to 'アイテム一覧を見る', products_path %></li>
            <li><%= link_to 'アイテムを登録する', new_product_path %></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-4 col-md-push-3">
          <ul>
            <li><%= link_to 'ユーザー一覧を見る', users_path %></li>
          </ul>
        </div>

        <div class="col-md-3 col-sm-12 col-md-pull-9">
          <div class="footer-logo"><%= link_to 'SuppleBox', root_path %></div>
          <p><small>&copy; 2019. All Rights Reserved.</p>
          <p class="social-icons">
            <a href="#">Share on Twitter</a>
          </p>
        </div>    
      </div>
    </div>
  </div>
</footer>