!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    = display_meta_tags(default_meta_tags)
    = csrf_meta_tags
    / Bootstrap CSS
    %link{href: "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css", rel: "stylesheet"}/
    / app/assets/stylesheets
    = stylesheet_link_tag  'application', media: 'all'
    / app/assets/javascripts
    = javascript_include_tag 'application'
    / GoogleAnalytics
    = analytics_init if Rails.env.production?
  %body
    #navigation
      = javascript_pack_tag 'navigation'
    - if controller_name == 'toppages' && action_name == 'index'
      #cover
        = javascript_pack_tag 'cover'
    .container
      = render 'layouts/flash_messages'
      %p= breadcrumbs separator: " &rsaquo; "
      = yield
    #footer
      = javascript_pack_tag 'footer'
