!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    = display_meta_tags(default_meta_tags)
    = csrf_meta_tags
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    / GoogleAnalytics
    = analytics_init if Rails.env.production?
  %body
    = render 'layouts/navbar'
    = yield :cover
    .container
      = render 'layouts/flash_messages'
      %p= breadcrumbs separator: " &rsaquo; "
      = yield
    = render 'layouts/footer'
